@using Kurdemir.BL.ViewModels.DepartmetVMs
@model DepartmentCreateVm
<div class="container mt-4">
    <p class="h4 mb-3">Create Department</p>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <div asp-validation-summary="All" class="text-danger"></div>

        </div>

        <button type="submit" class="btn btn-success">Create</button>
        <a asp-area="admin" asp-controller="Department" asp-action="read" class="btn btn-secondary">Cancel</a>
    </form>
</div>


